<!-- Author- Pavithra -->
<app-adminnavbar></app-adminnavbar>

    <div class="courses">
      <br>
      <div class = "searchbar">
        <div class="form-group">
          <div class="searchicon"><i class="fa fa-search fa-2x" aria-hidden="true"></i></div>
          <input type="search" class="form-control me-2 border rounded-pill search"  placeholder="Type here to search Course" id="searchButton" [(ngModel)]="searchText"/>
          <!-- <button type="button" class="searchbtn"><i class="fa fa-search" aria-hidden="true"></i>&nbsp; Search</button> -->
        </div>
      </div>
      <br>

        <div class = "container">
              <ng-container *ngFor = "let course of course | filter:searchText">
                    <div class="card shadow-lg rounded mb-4">
                        <div class="card-body">
                          <div class="left">
                            <h6 class="card-subtitle">Course Name : {{course.courseName}}</h6><br>
                            <h6 class="card-subtitle">Course Duration : {{course.courseDuration}} years</h6><br>
                            <h6 class="card-subtitle">Course Available timings : {{course.courseTiming}}</h6><br>
                          </div>
                            <div class="right">
                            <h6 class="card-subtitle">Number of Students : {{course.enrolledStudents}}</h6><br>
                            <h6 class="card-subtitle">Course Description : {{course.courseDescription}}</h6><br>
                          </div>
                            <div class="icons">
                              <a (click)="goteditcourse(course.courseId)"><i class="fa fa-pencil-square-o" aria-hidden="true"  style="margin-right: 12px;"></i></a>
                              <a (click)="open(content)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                
                               <!-- codes for the popup -->
                               <ng-template #content let-modal >
                                <div class="modal-header">
                                  <h4 class="modal-title">Confirm Delete</h4>
                                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  Are you sure you want to delete this item?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
                                  <button type="button" class="btn btn-danger" (click)="delete(course.courseId)">Delete</button>
                                </div>
                              </ng-template>

                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="addButtondiv">
                  <button class="btn btn-success addButton" (click)="gotoaddcourse()">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    &nbsp;Add Course</button>
                </div>
              </div>
  </div>
