<app-adminnavbar></app-adminnavbar>

    <div class="courses">
      <br>
      <div class = "searchbar">
        <div class="form-group">
          <input type="search" class="form-control me-2 search"  placeholder="Type here to search course" id="searchButton" [(ngModel)]="searchText"/>
          <button type="button" class="btn btn"><i class="fa fa-search" aria-hidden="true"></i>&nbsp; Search</button>
        </div>
      </div>
      <br>

        <div class = "container">
              <ng-container *ngFor = "let course of Courses | filter:searchText">
                    <div class="card shadow-lg rounded mb-4">
                        <div class="card-body">
                          <div class="left">
                            <h6 class="card-subtitle">Course name : {{course.Coursename}}</h6><br>
                            <h6 class="card-subtitle">Course duration : {{course.Courseduration}}hrs</h6><br>
                            <h6 class="card-subtitle">Course Available timings : {{course.Coursetimings}}</h6><br>
                          </div>
                            <div class="right">
                            <h6 class="card-subtitle">Number of Students : {{course.noOfStudentsEnrolled}}</h6><br>
                            <h6 class="card-subtitle">Course Description : {{course.Coursedescription}}</h6><br>
                          </div>
                            <div class="icons">
                              <a (click)="goteditcourse()">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"  style="margin-right: 12px;"></i>
                              </a>
                              <a (click)="alert()">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                              </a>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="addButtondiv">
                  <button class="btn btn-success addButton" routerLink="/admin/addcourse">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    &nbsp;Add Course</button>
                </div>
              </div>
  </div>
