<!-- Authors- Tanusha -->
<app-usernavbar></app-usernavbar>

<div class="enrolledcourse">
<br>
<h5 class="header">STUDENT ADMISSION DETAILS</h5>
<br>
<div class = "container">
    <ng-container *ngFor = "let ec of admission; index as i">
          <div class="card shadow-lg rounded">
              <div class="card-body">
                  <div class="left">
                    <h6 class="card-subtitle">Admission Id : {{ec.admissionId}}</h6><br>
                    <h6 class="card-subtitle">Course Name : {{courseList[i]}}</h6><br>
                    <h6 class="card-subtitle">Course Start Date : {{ec.courseStartDate | date | uppercase}}</h6><br>
                    <h6 class="card-subtitle">Course End Date :  {{ec.courseEndDate | date | uppercase}}</h6><br>
                  </div>
                  <div class="right">
                      <p><strong>Ratings : <ngb-rating [max]="5">:</ngb-rating></strong></p>
                  </div>
                  <div class="button">
                    <button class="btn editbutton" (click)="gotoEditAdmission(ec.admissionId)">Edit&nbsp;<i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button class="btn deletebutton" (click) = "open(content)">Delete&nbsp;<i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    <!-- <button class="btn statusbutton" >Status&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></button> -->
                    <button class="btn mylearnbutton" (click)="gotoStatus(ec.admissionId)">My Learning&nbsp;<i class="fa fa-book" aria-hidden="true"></i></button>
                  </div>

                  <!-- codes for the delete popup -->
                  <ng-template #content let-modal >
                    <div class="modal-header">
                      <h4 class="modal-title">Confirm Delete</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete this item?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
                      <button type="button" class="btn btn-danger" (click)="delete(ec.admissionId,ec.courseId)">Delete</button>
                    </div>
                  </ng-template>
                  <!-- ------------------------ -->
              </div>
          </div><br>
      </ng-container>
  </div>
</div>
