<app-adminnavbar></app-adminnavbar>

<div class="group">
  <div><br>
    <p style="text-align:center;font-size: 28px;">EDIT STUDENT FORM</p>
  </div>
<form #editStudentForm = "ngForm">
<div class="forms">
  <label>FIRST NAME</label><br>
  <input type="text" id="firstName" name="firstName"class="fn" placeholder="Enter your first name" [(ngModel)]="newstudent.firstName" name="first" #first="ngModel"><br>
  <br>

  <label>Father Name</label><br>
  <input type="text" id="fatherName" class="fan" placeholder="Enter your father name" [(ngModel)]="newstudent.fatherName" name="father" #father="ngModel"><br>
  <br>

  <label>Mother Name</label><br>
  <input type="text" id="motherName" class="mn" placeholder="Enter your mother name" [(ngModel)]="newstudent.motherName" name="mother" #mother="ngModel"><br>
  <br>

  <label>Email Id</label><br>
  <input type="text" id="emailId" class="email" placeholder="Enter email id" [(ngModel)]="newstudent.emailId" name="mail" #mail="ngModel"><br>
  <br>

  <label>Age</label><br>
  <input type="number" id="age" class="ag" placeholder="Enter your age" [(ngModel)]="newstudent.age" name="age" #age="ngModel"><br>
  <br>

  <label>Marks</label><br>
  <input type="number" id="sslc" class="sslc-hsc" placeholder="Enter SSLC/HSC marks" [(ngModel)]="newstudent.sslc" name="marks" #marks="ngModel"><br>
  <br>

  <label>Phone Number</label><br>
  <input type="number" id="mobile" class="sslc-hsc" placeholder="Enter phone number" [(ngModel)]="newstudent.mobile" name="mob" #mob="ngModel"><br>
  <br>

  <label>Alt Mobile number</label><br>
  <input type="number" id="altMobile" class="sslc-hsc" placeholder="Enter alternate number" [(ngModel)]="newstudent.altMobile" name="altmob" #altmob="ngModel"><br>
  <br>
</div>

<div class="forms1">
  <label class="last">Last Name</label><br>
  <input type="text" id="lastName" class="ln" placeholder="Enter your last name" [(ngModel)]="newstudent.lastName" name="last" #last="ngModel"><br>
  <br>

  <!-- ------- -->
    <div class="institutefield">
          <label>Institute Name</label><br>
          <select id="institute" class="institute" (change)="getCourseList($event)">
            <option value="">SELECT INSTITUTE</option>
            <option value="{{ins.instituteId}}" *ngFor="let ins of institutes">{{ins.instituteName}}</option>
          </select>
          <br><br>
    </div>
  
</div>

<div class="forms2">
  <label class="mafe">Male/Female</label><br>
  <select id="gender" name="gender" class="mf" placeholder="Enter male or female" [(ngModel)]="newstudent.gender" name="gender" #gender="ngModel"><br>
    <option value="Male">MALE</option>
    <option value="Female">FEMALE</option>
  </select>
  <br><br>

    <div class="coursefield">
      <label>Course Name</label><br>
        <select id="course" class="course" #course (change)="setCourseId($event)">
          <option value="">SELECT COURSE</option>
          <option value="{{course.courseId}}" *ngFor="let course of courses">{{course.courseName}}</option>
        </select>
    </div>
</div>

    <div class="box_area" id="content">
      <p>ADDRESS INFORMATION</p>
      <label>House No:</label>
      <input type="text" id="houseNo" class="hn" [(ngModel)]="newstudent.houseNo" name="house" #house="ngModel"><br>
      <br>
      <label>Street Name:</label>
      <input type="text" id="streetName" class="sn" [(ngModel)]="newstudent.streetName" name="street" #street="ngModel">
      <br>
      <br>
      <label>Area Name:</label>
      <input type="text" id="areaName" class="an" [(ngModel)]="newstudent.areaName" name="area" #area="ngModel">

      <label class="p">Pincode:</label>
      <input type="number" id="pincode" class="pc" [(ngModel)]="newstudent.pincode" name="pin" #pin="ngModel">
      <br><br>
      <label>State:</label>
      <input type="text" id="state" class="s" [(ngModel)]="newstudent.state" name="state" #state="ngModel">
      <label class="na">Nationality:</label>
      <input type="text" id="nationality" class="n" [(ngModel)]="newstudent.nationality" name="nation" #nation="ngModel">
      <br>
      <br>
  </div>
  <div class="foot">
    <button type="button" class="btn btn-success" (click)="submit()" [disabled]="editStudentForm.invalid">Update Student</button>
  </div>
</form>
</div>