<!-- Author Srinivasa teja -->
<app-usernavbar></app-usernavbar> 
<div class="container">
    <h1>PG Admission</h1>
    <h2>Institute</h2>
    <h3>EnrolledCourse</h3>
    <h4><span>Logout</span></h4>
    
  




  </div>
  <div class="form-container">
    <input type="text" class="form-input" placeholder="Type here to search course">
    <button class="submit">Search</button>
  </div>
  <div class="box">
    
    <ul>

    
      <li *ngFor="let user of users">
        <div class="content">
        Course name: {{ user.Coursename }} <br>
        Course duration: {{ user.Courseduration }} <br>
        Course Available timings: {{ user.CourseAvailabletimings }} <br>
        </div>
      
        <div class="xyz">

        
        Number of Students: {{ user.NumberofStudents }} <br>
        Course Description: {{ user.CourseDescription }}
        </div>
        </li>
      </ul>
        <a href="#" style="text-decoration: none;" class="move-down">Enroll Now</a>
        <div class="box1">
          <ul>
          <li *ngFor="let item of items">
            <div class="abc">
            Course name: {{ item.Coursename }} <br>
            Course duration: {{ item.Courseduration }} <br>
            Course Available timings: {{ item.CourseAvailabletimings }} <br>

            </div>
            <div class="mst">
            Number of Students: {{ item.NumberofStudents }} <br>
            Course Description: {{ item.CourseDescription }} <br>
            </div>

          </li>
          </ul>
          <a href="#" style="text-decoration: none;" class="move-cal">Enroll Now</a>

        

          


        
  </div>




