.search
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 38px;
  align-items: center;
  vertical-align: top;
  width: auto;
  min-width: 250px;
  border-radius: 0;
}

.btn
{
  background-color: #096407;
  color: white;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
  height: 38px;
}

.btn:active{
  opacity: 0.4;
  background-color: #33073b;
  color: rgb(24, 3, 11);
}

.btn:hover{
  opacity: 0.9;
}

.courses
{
  background: linear-gradient(
    rgb(182, 134, 234),
    rgb(129, 219, 232),
    rgba(105, 217, 120, 0.303)
  );
  display: block;
  animation: -animation 5s infinite alternate ;
  /* background-color: rgb(216, 223, 149); */
  height: fit-content;
  min-height: 1100px;
}

.searchbar
{
  text-align: center;
}

.container
{
  margin-top: 10px;
  width: 600px;
  margin-bottom: 20px;
}

.left
{
  display:inline-block;
}


.right
{
  display:inline-block;
  vertical-align: top;
  margin-left: 100px;
}

.button
{
  text-align: end;
}


.enrollbutton
{
  background-color: #40b117;
  color: white;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.15s;
  vertical-align: top;
  height: 35px;
}

.enrollbutton
:active{
  opacity: 0.4;
  background-color: #7de880;
  color: rgb(131, 215, 126);
}

.enrollbutton
:hover{
  opacity: 0.9;
}

.card-body
{
  margin-top: 8px;
  margin-bottom: 4px;
}

.card
{
  background-color: lightgrey;
  margin-bottom: 10px;
  cursor: pointer;
}
