
div, span {
    text-align: center;
  }
  h2
  {
    text-align: center;
    color: black;
  }

  section{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      width: 100%;
      background-position: center;
      background-size: cover;
      /* background-image: url(/assets/7.jpg); */
  }

  .form-box{
      position: relative;
      width: 400px;
      height: 450px;
      background: transparent;
      justify-content: center;
      align-items: center;
  }
  
  span
  {
      color: rgb(177, 5, 5);
      font-size: small;
  }
  button{
      width: 20%;
      height: 40px;
      background-image: linear-gradient(to left, rgb(131, 130, 134), white);
      border-color: black;
      cursor: pointer;
      font-size: 1em;
      font-weight: 600;
      border-radius: 40px;
  
    }
  
  .input-box
  {
      cursor: pointer;
      width: 270px;
      height: 40px;
      border-radius: 40px;
      font-family: fontawesome;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: medium;   
  }
  .input-box1
  {
      cursor: pointer;
      width: 270px;
      height: 40px;
      border-radius: 40px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: medium;
      font-family: fontawesome;
  
  }
  .form{
      justify-content: center;
      align-items: center;
      width: 100%;
      /* background-image: url(/assets/images/1.jpg); */
      background: linear-gradient(
        rgb(184, 234, 182),
        rgb(211, 236, 206),
        rgba(133, 209, 143, 0.303)
      );
      background-position: center;
      background-size: cover;
      min-height: 92vh;
  
  }
  label
  {
      /* display: block; */
      margin-bottom: 5px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

      font-weight: 400;
      text-transform: uppercase;
      line-height: 24px;
      height: 24px;
      font-size: 15px;
      left: 165px;
  
  }