<!-- Authors- Arulsaravanan-->
<app-adminnavbar></app-adminnavbar>

<div class="institute">
  <br>
  <div class = "searchbar">
    <div class="form-group">
      <input type="search" class="form-control me-2 search"  placeholder="Type here to search Institute" id="searchButton" [(ngModel)]="searchText"/>
      <button type="button" class="btn btn">Search</button>
    </div>
  </div>
  <br>

<div>
  <div class = "container">
    <div class = "row row-cols-1 row-cols-md-4 g-4">
        <ng-container *ngFor = "let institute of institutes">
            <div class="col">

              <div class="card shadow-lg bg-body rounded thumbcard mb-4">
                 <img class="card-img-top" [src]="institute.src" alt="Card image cap" routerLink="/admin/course">
                  <div class="card-body">
                      <h5 class="card-title">{{institute.name}}</h5>
                      <p class="card-text mt-2 mb-2 d-inline text-muted">Place: {{institute.Place}}</p><br>

                      <div class="star">
                        <ngb-rating [max]="5" [readonly]="true" [rate] = "institute.rating">:</ngb-rating>
                        <div class="icons">
                          <a (click)="gotoeditinstitute()"><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right: 10px;"></i></a>
                          <a (click)="alert()"><i class="fa fa-trash" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="addButtondiv">
        <button class="btn btn-success addButton" routerLink="/admin/addinstitute">&nbsp;Add Institute</button>
      </div>
</div>

</div>
