
<app-adminnavbar></app-adminnavbar>
<!--<body>


  <div class="xyz">
    <input type="text" placeholder="Enter the course Name" class="input-box">
  </div>
  <div class="abc">
    <input type="text" placeholder="Enter the course duration" class="duration-box">
  </div>
  <div class="pqr">
    <input type="text" placeholder="Enter the course Timing" class="timing-box">
  </div>
  <div class="mst">
    <input type="text" placeholder="Enter no of student enrolled for this course" class="student-box">
  </div>
  <div class="mno">
    <input type="text" placeholder="Enter the course Description" class="desp-box">
  </div>
  <button class="update-course-button">Update Course</button>
  </body>-->
  <div class="form">

    <br><br>
    <h2 > Update Course </h2>
    <br><br><br>

<div id="addcourse" class="section">
<div class="section-center">
  <div class="container">
    <div class="row">
      <div class="addcourse-form">
        <form  [formGroup]="editcourseForm" (ngSubmit)="onSubmit()" #editcourse="ngForm">
            <div class="row">
                      <div class="col-md-7">
                        <div class="form-group">
                            <label>Course Name</label><br>
                            <input class="input-box1" name="CourseName"  id="CourseName" 
                            style="text-align: center;margin-bottom: 30px;" 
                            placeholder="Enter Course Name"   type="text" 
                            placeholder="Enter The Course Name"         
                            formControlName="courseName" 
                            [ngClass]="{ 'is-invalid': submitted && courseName.errors }"                     
                            [(ngModel)]="course.courseName" aria-describedby="CN">
                            <br>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label>No of Students Enrolled</label><br>
                            <input class="input-box1" name="StudentsEnrolled" 
                            id="StudentsEnrolled"
                            style="text-align: center;margin-bottom: 30px;"
                            type="number" placeholder=" No of Students Enrolled" 
                            formControlName="enrolledStudents"
                            [ngClass]="{ 'is-invalid': submitted && enrolledStudents.errors }" 
                             [(ngModel)]="course.enrolledStudents" aria-describedby="SE" >
                            <br>
                        </div>
                      </div>

                      <br><br><br>


                      <div class="col-md-7">
                        <div class="form-group">
                          <label>Course Duration</label><br>
                            <input class="input-box1" name="CourseDuration" id="CourseDuration"
                            style="text-align: center;margin-bottom: 30px;"
                            type="number" 
                            placeholder="Enter The Course Duration" 
                            formControlName="courseDuration" 
                            [ngClass]="{ 'is-invalid': submitted && courseDuration.errors }"
                            [(ngModel)]="course.courseDuration" aria-describedby="CDU">
                            <br>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label>Course Description</label><br>
                            <input class="input-box1"  
                            style="text-align: center;margin-bottom: 30px;" 
                             name="CourseDescription" id="CourseDescription"
                            type="text" placeholder="Enter the Course Description"  
                            formControlName="courseDescription" 
                            [ngClass]="{ 'is-invalid': submitted && courseDescription.errors }"  
                              [(ngModel)]="course.courseDescription" aria-describedby="CD" >
                            <br>
                        </div>
                      </div>

                      <br><br><br>

                    <div class="col-md-7">
                      <div class="form-group">
                        <label>Course Timings</label><br>
                          <input class="input-box1"  style="text-align: center;margin-bottom: 30px;" 
                          name="CourseTimings" id="CourseTimings" 
                          type="text" placeholder="Enter The Course Timings" 
                          formControlName="courseTiming"  
                          [ngClass]="{ 'is-invalid': submitted && courseTiming.errors }"
                          [(ngModel)]="course.courseTiming" aria-describedby="CT">
                          <br>
                      </div>
                    </div>

                    
            </div>
                  <br><br>
                  <button  [disabled] ="editcourseForm.invalid" [ngClass]="{ 'p1': editcourseForm.invalid,'p2':editcourseForm.valid}" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                  </svg> Update </button>
  <div style="margin-bottom: 50px;">

  </div>
    </form>
  </div>
</div>
</div>
</div>

 