<!-- author : Srinivasa teja -->
<app-adminnavbar></app-adminnavbar>
<body>


  <div class="xyz">
    <input type="text" placeholder="Enter the course Name" class="input-box">
  </div>
  <div class="abc">
    <input type="text" placeholder="Enter the course duration" class="duration-box">
  </div>
  <div class="pqr">
    <input type="text" placeholder="Enter the course Timing" class="timing-box">
  </div>
  <div class="mst">
    <input type="text" placeholder="Enter no of student enrolled for this course" class="student-box">
  </div>
  <div class="mno">
    <input type="text" placeholder="Enter the course Description" class="desp-box">
  </div>
  <button class="update-course-button">Update Course</button>
  </body>
  