<!-- authors - Deepika, Diveesh -->

<app-adminnavbar></app-adminnavbar>

<div class="user">
<div class="container">

  <div class="searchbar">
    <div class="form-group">
      <input type="search" class="form-control search" placeholder="Type here to search student" id="searchButton" [(ngModel)]="searchText" />
      <button type="button" class="search-btn"><i class="fa fa-search" aria-hidden="true"></i>&nbsp; Search</button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Student ID</th>
          <th scope="col">Student Name</th>
          <th scope="col">Enrolled Course</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students | filter:searchText">
          <td>{{student.studentId}}</td>
          <td>{{student.studentName}}</td>
          <td>{{student.enrolledCourse}}</td>
          <td>{{student.mobileNumber}}</td>
          <td class="actions">
            <button routerLink="/admin/editstudent" class="btn btn-primary">Edit &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button class="btn btn-danger del-btn" (click)="deleteStudent()">Delete &nbsp;<i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="addButtondiv">
      <button class="btn btn-primary add-std" routerLink="/admin/addstudent"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Add Student</button>
    </div>
</div>

</div>