<!-- authors - Deepika, Diveesh -->

<app-adminnavbar></app-adminnavbar>

<div class="user">
<div class="container">

  <div class="searchbar">
    <div class="form-group">
      <div class="searchicon"><i class="fa fa-search fa-2x" aria-hidden="true"></i></div>
      <input type="search" class="form-control me-2 border rounded-pill search" placeholder="Type here to search Student" id="searchButton" [(ngModel)]="searchText" />
      <!-- <button type="button" class="search-btn"><i class="fa fa-search" aria-hidden="true"></i>&nbsp; Search</button> -->
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Student ID</th>
          <th scope="col">Student Name</th>
          <th scope="col">Enrolled Course</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students | filter:searchText">

          <td>{{student.studentId}}</td>
          <td>{{student.firstName}}</td>

          <td>{{student.courseName}}</td>
          <td>{{student.mobile}}</td>
          <td class="actions">
            <button (click)="editStudent(student.studentId)" class="btn btn-primary"> &nbsp;<i class="fa fa-pencil" title="Edit" aria-hidden="true"></i></button>
            <button class="btn btn-danger del-btn" (click)="open(content)"> &nbsp;<i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i></button>

            <!-- codes for the delete popup -->
            <ng-template #content let-modal >
              <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this item?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteStudent(student.studentId)">Delete</button>
              </div>
            </ng-template>
            <!-- ------------------------------------------------- -->

          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="addButtondiv">
      <button class="btn btn-primary add-std" routerLink="/admin/addstudent"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Add Student</button>
    </div>
</div>

</div>