*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 10px;
  }
  
  .search-input{
    background-color: rgb(131, 131, 131);
    color:rgb(0, 0, 0);
    padding: 15px 30px;
  }
  
  ::placeholder{
    color:rgb(0, 0, 0);
  }
  
  .search-btn{
    background-color: rgb(18, 77, 2);
    color: rgb(255, 255, 255);
    padding: 1%;
    cursor: pointer;
  }
  
  .std-table{
    border:2px solid rgb(255, 255, 255);
    border-spacing: 0 20px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    height: 5%;
  }
  
  td:nth-child(even),td:nth-child(odd) {
    background-color: rgb(202, 202, 202);
    height: 40px;
  }
  
  .heading{
    background-color: rgb(18, 77, 2);
    color: rgb(255, 255, 255);
    height: 40px;
  }

  